.question-container {
  position: relative;
  height: fit-content;
  max-width: 70%;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin: 20px 0;

  margin-top: 9%;
  padding: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.triangle-isosceles:after{
  z-index: -1;
}
.question-container::before {
  content: "";
  z-index: -1;
  position: absolute;
  top: -0.6px;
  left: -17px;
  width: 25px;
  height: 40px;
  background: linear-gradient(
    255deg, #ffffff 0%, #ffffff 50%, transparent 50%, transparent
  );
  /* border-width: 10px;
  border-style: solid;
  border-color: transparent #fff transparent transparent;  */
}
.beforeul{
  margin-left: -17%;
}
.pic{
  display: flex;
  margin-right: 55px;
  margin-left: -77px;
  margin-bottom: 100px;
}
.pic1{
  display: flex;
  margin-right: 55px;
  margin-left: -77px;
  position: relative;
  opacity: 0;
  /* position: absolute; */
  /* justify-content: start; */
}
.fade-in-pic1 {
  animation: fadeIn 4s forwards;
}


.question-answerd {
  position: relative;
  height: fit-content;
  max-width: 100%; /* Adjust the width as needed */
  background-color: #fff; /* Background color for the chat message */
  border: 1px solid #ddd; /* Border color */
  border-radius: 8px;
  margin: 20px 0;
  margin-top: 9%;
  padding: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.question-answerd::before {
  content: "";
  position: absolute;
  top: -0.6px;
  left: -17px;
  width: 25px;
  height: 40px;
  background: linear-gradient(
    255deg, #ffffff 0%, #ffffff 50%, transparent 50%, transparent
  );
  /* border-width: 10px;
  border-style: solid;
  border-color: transparent #fff transparent transparent;  */
}

.answer-button {

  background-color: #00b046;
  color: #fff;
  padding: 10px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  align-items: end;
  display: flex;
  position: relative;
  text-align: start;
  margin-left: 35%;
  width: 50%;
  /* margin-left: 40%; */
  width: 60%;
  height: fit-content;
  /* width: ; */
  opacity: 0;
  animation: fadeIn 1s forwards;
  /* justify-content: center;  */
  align-items: center; 
  /* opacity: 0; Set initial opacity to 0
  transition: opacity 1 1s ease-in; */
}

.answered-button {
  background-color: #00b046;
    color: #fff;
    padding: 10px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    align-items: end;
    display: flex;
    position: relative;
    text-align: start;
    margin-left: 35%;
    width: 50%;
    height: fit-content;
    /* justify-content: center; */
    align-items: center; 
  
  }

  .selected {
    background-color: #9bef9e;
    color: #fff;
    padding: 10px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    align-items: end;
    display: flex;
    position: relative;
    text-align: start;
    margin-left: 35%;
    width: 50%;
    height: fit-content;
    align-items: center; 
  }

/* Add a class to control fading in for each button */
/* .answer-button.fade-in {
  opacity: 1;
} */
/* .answer-button span {
  
  opacity: 0;
  animation: fadeIn 3s forwards;
} */

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.answered-button {
  background-color: #00b046;
  color: #fff;
  padding: 10px;
  margin-right: 100px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  align-items: end;
  display: flex;
  position: relative;
  text-align: start;
  margin-left: 35%;
  width: 50%;
  width: 60%;
  height: fit-content;
  /* width: ; */
  opacity: 0;
  animation: fadeIn 1s forwards;
  /* justify-content: center;  */
  align-items: center;
  /* width: fit-content; */
}

.answer-button:hover {
  background-color: #45a049;
}

.character {
  min-width: 40px;
  margin-right: 20px;
  display: flex;
  position: relative;
  justify-content: center;
 align-items: center; 
  text-align: center;
  height: fit-content;
  font-size: x-large;
  vertical-align: middle;
  /* margin-right: 0.35em; */
}
.answer-text{
  display: flex;
  /* position: relative; */
  justify-content: start; 
  text-align: start;
  text-align-last: left;
  /* align-content: start; */
  font-size: medium;
  /* margin-left: 10px; */
  
}
.answered-questions {
  /* margin-top: 20px; */
  
}

.answered-questions p {
  /* margin-bottom: 10px; */
}

.answered-questions ul {
  /* list-style-type: none;
  padding: 0; */
}

.answered-questions li {
  /* margin-bottom: 5px;
  padding: 5px;
  border-radius: 5px; */
}
.floating-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #ed0e55;
  color: #fff;
  padding: 20px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  margin-right: 40%;
  animation: float 3s infinite ease-in-out;
}

.floating-button:hover {
  background-color: #bb2121;
}

@keyframes float {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}


.selected {
  background-color: #9bef9e;
  color: #fff;
  padding: 10px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  align-items: end;
  display: flex;
  position: relative;
  text-align: start;
  margin-left: 35%;
  width: 60%;
  height: fit-content;
}
.typingIndicatorContainer {
  display: flex;
  flex: none;
  align-items: flex-end;
  /* margin-top:-1000px ; */
  content: "";
  position: absolute;
  top: -40px;
  left:  -10px;
  width: 80px;
  height: 90px;
  
}

.typingIndicatorBubble {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 50px;
  margin: 0px 8px;
  background-color: #ffffff;
  border-radius: 12px;
}

.typingIndicatorBubbleDot {
  width: 4px;
  height: 4px;
  margin-right: 4px;
  background-color: #57585a;
  border-radius: 50%;
  animation-name: bounce;
  animation-duration: 1.3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.typingIndicatorBubbleDot:first-of-type {
  margin: 0px 4px;
}

.typingIndicatorBubbleDot:nth-of-type(2) {
  animation-delay: 0.15s;
}

.typingIndicatorBubbleDot:nth-of-type(3) {
  animation-delay: 0.3s;
}
.triangle-isosceles {
  position:relative;
  padding:15px;
  margin:1em 0 3em;
  color:#000;
  background:#ffffff; /* default background for browsers without gradient support */
  /* css3 */
  background:-webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#ffffff));
  background:-moz-linear-gradient(#ffffff, #ffffff);
  background:-o-linear-gradient(#ffffff, #ffffff);
  background:linear-gradient(#ffffff, #ffffff);
  -webkit-border-radius:10px;
  -moz-border-radius:10px;
  border-radius:10px;
  /* margin-left:50px; */
  margin-top: 90px;
  margin-left: -10px;
  background:#ffffff;
  height: fit-content;
}
/* .triangle-isosceles {
  margin-left:50px;
  background:#f3961c;
} */
.triangle-isosceles:after {
  content:"";
  position:absolute;
  bottom:-15px; /* value = - border-top-width - border-bottom-width */
  left:50px; /* controls horizontal position */
  border-width:15px 15px 0; /* vary these values to change the angle of the vertex */
  border-style:solid;
  border-color:#ffffff transparent;
  /* reduce the damage in FF3.0 */
  display:block;
  width:0;
  top:16px; /* controls vertical position */
  left:-50px; /* value = - border-left-width - border-right-width */
  bottom:auto;
  border-width:10px 50px 10px 0;
  border-color:transparent #ffffff;
}
.allofscreen{
display: flex;
width: 80%;
margin-left: 10%;
margin-right: 10%;

/* justify-content: center;
align-items: center; */
}

@keyframes bounce {
  0%,
  60%,
  100% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(-4px);
  }
}
/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}
/* Media query for smaller screens */
/* @media (max-width: 576px) {
.allofscreen{
    zoom: 2;
  }
}
@media (min-width: 577px) and (max-width: 768px) {
.allofscreen{
    zoom: 1.5;
  }
} */

@media (max-width: 768px) {
  .pic1{
    margin-right: 0 !important;
  }
  .allofscreen{
    margin: 0 !important;
  }
  .answered-questions{
    
  }

  .image{
    width: 68%;
    height: 64%;
    margin-left: -98px;
    /* margin-right: px; */

    
  }
  body,html {
    overflow-x: hidden;
  }
  .triangle-isosceles {
  position: relative;
  height: fit-content;
  max-width: 100%; /* Adjust the width as needed */
  background-color: #FFF;/* Background color for the chat message */
  border: 1px solid #FFF; /* Border color */
  border-radius: 8px;
  margin: 20px;
  margin-right: 0;
  margin-top: 50px;
  margin-left: 5px;
  /* padding: 15px; */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.triangle-isosceles:after {
  content:"";
  position:absolute;
  bottom:-15px; /* value = - border-top-width - border-bottom-width */
  left:50px; /* controls horizontal position */
  border-width:15px 15px 0; /* vary these values to change the angle of the vertex */
  border-style:solid;
  z-index: -111;
  border-color:#FFF transparent;
  /* reduce the damage in FF3.0 */
  display:block;
  width:0;
  z-index: -1;
  top:16px; /* controls vertical position */
  left:-50px; /* value = - border-left-width - border-right-width */
  bottom:auto;
  border-width:10px 50px 10px 0;
  border-color:transparent #FFF;
}
.triangle-isosceles{
  margin: 43px 0;
}

.answered-button {
  width: 100%;
   margin-left: 0%;
  align-items: center;
  margin-right: 2% ;  
}
.selected {
  width: 100%;
  margin-left: 0%;
  align-items: center;
}

.answered-questions {
  width: 100%;
  margin-left: 0%;
 align-items: center;
  
}
.beforeul{
  /* margin-left: 50px;
  margin-right: 40px; */
  margin-left: 0%;
  width: 100%;
}
.ulanswer{
  margin-right: 0;
  /* margin-left: 41px; */
  margin: auto;
  margin-left: 9px;
  width: 92% !important;
  margin-top: 0 !important;
}
.choice{
  margin-right: 0;
  /* margin-left: 41px; */
  margin: auto;
  margin-left: 9px;
  width: 92% !important;
}
.pic{
  width: 100%;
  margin-bottom: 10px;
}
.image1,.image{
  width: 153px !important;
    height: auto !important;
    margin-left: -40px !important;
  }
  .pic,.pic1  {
    display: flex;
    width: 95% !important;
    margin-left: 0 !important;
    margin-right: 0 !important; 
}
  .answer-button {
    width: 100%;
    margin-left: 0;
    align-items: center;
    /* margin-left: 30%; */
  }
  .pic1 {
    display: flex;
    margin-right: 55px;
    margin-left: 0;
    position: relative;
  }
  .allofscreen {
    display: flex;
    width: 95%;
    padding-left: 13px;
    padding-right: 101px;
}
  .choice{
    padding-top : 100px;
    /* justify-content: center; Horizontally center */
    align-items: center;
    width: 100%;

  }
  .floating-button {
    margin-right: 30%;
  }
  .typingIndicatorContainer {
  display: flex;
  flex: none;
  align-items: flex-end;
  /* margin-top:-1000px ; */
  content: "";
  position: absolute;
  top: -42px;
  left:  -10px;
  width: 80px;
  height: 90px;
  
}

}
@media (min-width: 769px) and (max-width: 991px) {
  .allofscreen {
    /* Add styles for medium-sized screens */
    /* zoom:1.2; */
  }

  /* Add more styles as needed */
}

/* Media query for larger screens */
@media (min-width: 992px) and (max-width: 1199px) {
  .allofscreen{
    /* Add styles for larger screens */
    zoom: 1;
  }

  /* Add more styles as needed */
}

/* Media query for larger screens */
@media (min-width: 1200px) and (max-width: 1400px) {
  .question-container {
    max-width: 60%; /* Adjust the width for larger screens */
    
  }
  .beforeul{
  /* margin-left: 50px;
  margin-right: 40px; */
  /* margin-left: 0%; */
  width: 93%;
}
  .allofscreen{
    zoom: 1;
  }
}
@media (min-width: 2200px) and (max-width: 3440px) {
  .question-container {
    max-width: 60%; /* Adjust the width for larger screens */
    
  }
  .allofscreen {
    display: flex;
    width: 45%;
    margin-left: 10%;
    margin-right: 10%;
}
  .beforeul{
  /* margin-left: 50px;
  margin-right: 40px; */
  margin-left: -2%;
  width: 93%;
}
.answer-button{
  width: 40%;
}
.answered-button{
  width: 40%;
}
.selected{
  width: 40%;
}

  .allofscreen{
   
    justify-content: center;
    margin-left: 0;
    margin-right: 0;
    /* align-items: center; */
    margin: auto;

  }
}




/* Add your existing styles here */

/* Set initial opacity to 0 */
.answer-button {
  opacity: 0;

  /* Apply a fade-in animation */
  animation: fadeIn 2s ease-in-out forwards;
}

/* Define the fadeIn animation */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Apply animation delay to each button based on its index */
.answer-button:nth-child(1) {
  animation-delay: 1s; /* 1 second delay for the first button */
}

.answer-button:nth-child(2) {
  animation-delay: 2s; /* 2 second delay for the second button */
}

.answer-button:nth-child(3) {
  animation-delay: 3s; /* 3 second delay for the third button */
}

.answer-button:nth-child(4) {
  animation-delay: 4s; /* 4 second delay for the fourth button */
}
@media (min-width:2400px) and (max-width: 3440px) {
body,html {
  overflow-x: hidden;
}
  .question-answerd {
    font-size: 2em; /* Adjust as needed */
    padding: 30px; /* Adjust as needed */
    font-size: 2.5em; 
  }

  .answer-button, .answered-button, .selected {
    font-size: 1.5em;
    padding: 20px;
    width: 100%;

    margin-left: 28%;
    font-size: 2.5em;
  }
.ulanswer{
  margin-top: 0 !important;
}
  .character {
    font-size: 28px; /* Adjust as needed */
    width: 80px; /* Adjust as needed */
    margin-right: 40px;
  }

  .answer-text {
    font-size: 28px;
  }
  .triangle-isosceles  p {

    font-size: 28px;
  }
  
  .choice{
    margin-top: 0 !important;
  }

  .triangle-isosceles {
    padding: 30px;
    border-radius: 20px;
    font-size: 26px;


    
  }

  .triangle-isosceles:after {
    border-width: 30px 30px 0; /* Adjust as needed */
    /* top: 32px; Adjust as needed */
    border-width: 20px 100px 20px 0; /* Adjust as needed */
    font-size: 2em;
  }
  
}
